/*-------------------------
        Variables
-------------------------*/
:root {
    --color-bg-light: #F8F8F8;
    --color-bg-dark: #191919;

    --color-primary: #FF5C00;
    --color-grey3: #E9E9E9;
    --color-grey4: #F2F2F2;

    --color-text-dark: #191919;
    --color-text-grey2: #A1A1A1;

    // Transition
    --transition: all 0.3s ease-in-out;
}