{% extends 'app.html' %}

{# Page Title #}
{% block title %}Muir | Menu All in One Page{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}
<!--=====================================-->
<!--=        Menu Area Start       	=-->
<!--=====================================-->
{% include 'header/navbar.html' %}
	

{% endblock %}