{% extends 'app.html' %}

{# Page Title #}
{% block title %}Muir | Richtext All in One Page{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class=""{% endblock %}

{% block content %}
<!--=====================================-->
<!--=         Richtext Area Start       =-->
<!--=====================================-->
{% include 'richtext/richtext.html' %}
	

{% endblock %}