{% extends 'app.html' %}

{# Page Title #}
{% block title %}Muir | Testimonial All in One Page{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class=""{% endblock %}

{% block content %}
<!--=====================================-->
<!--=       Testimonial Area Start      =-->
<!--=====================================-->
{% include 'testimonial/testimonial.html' %}
	

{% endblock %}