@mixin p($size, $l-h, $color){
    font-size: $size;
    line-height: $l-h;
    color: $color;
}
@mixin flex-box ($a-i:unset, $j-c:unset, $f-d:unset, $gap:unset) {
    display: flex;
    align-items: $a-i;
    justify-content: $j-c;
    flex-direction: $f-d;
    gap: $gap;
}
.feature-area{
    background: #F8F8F8;
    .container{
        width: 80%;
        margin: 0 auto;
        padding: 120px 0;
        @include flex-box(unset, space-between, unset, 100px);

        .right{
            .big-dark{
                width: 558px;
                margin-bottom: 100px;
            }
            div{
                @include flex-box(center);
            }
            .mt-30{
                gap: 40px;
                margin-top: 30px;
            }
        }
        .left{
            width: 45%;
            ul{
                margin-top: 150px;
                li{
                    @include flex-box(center, unset, unset, 40px);
                    padding: 20px 0;
                    border-bottom: 1px solid #E9E9E9;
                    img{
                        margin-left: auto;
                    }
                }
            }
        }
    }
    p[class='bigger-dark']{
        @include p(34px, 50px, #191919);
    }
    p[class='bigger-white']{
        @include p(34px, 50px, #ffffff);
    }
    p[class='big']{
        @include p(24px, 35px, #A1A1A1);
    }
    p[class='big-dark']{
        @include p(24px, 35px, #191919);
    }
    p[class='big-white']{
        @include p(24px, 35px, #ffffff);
    }
    p[class='medium']{
        @include p(20px, 28px, #A1A1A1);
    }
    p[class='medium-dark']{
        @include p(20px, 28px, #191919);
    }
    p[class='medium-white']{
        @include p(20px, 28px, #ffffff);
    }
    p[class='small']{
        @include p(17px, 27px, #A1A1A1);
    }
    p[class='small-dark']{
        @include p(17px, 27px, #191919);
    }
    p[class='small-white']{
        @include p(17px, 27px, #ffffff);
    }
    p[class='smaller']{
        @include p(14px, 22px, #ffffff);
    }
    p[class='smaller-grey']{
        @include p(14px, 22px, #A1A1A1);
    }
}

/*============  Feature-2  ===========*/
#feature-2{
    .container{
        display: block;
        .top{
            @include flex-box(unset, space-between);
        }
        .bottom{
            @include flex-box(unset, unset, unset, 80px);
            .big-dark{
                margin: 30px 0;
            }
        }
    }
}

/*============  Feature-3  ===========*/
#feature-3{
    .container{
        display: block;
        h1{
            @include p(60px, 76px, #191919);
            margin: 20px 0 80px;
            font-weight: 400;
            letter-spacing: -0.5px;      
            width: 650px;      
        }
        .list{
            @include flex-box(unset, unset, flex-start);
            border-top: 1px solid #E9E9E9;
            h1{
                margin: 0;
                width: 80px;
                padding: 17px 0;
            }
            div{
                padding: 30px 30px;
                border-left: 1px solid #E9E9E9;
                .small{
                    width: 650px;
                    margin-top: 40px;
                }
            }
            img{
                margin: auto;
                margin-right: 0;
            }
        }
        .list:first-of-type{
            border-top: none;
            img{
                margin: 38px 0 auto auto;
            }
        }
    }
}

/*============  Feature-4  ===========*/
#feature-4{
    .container{
        .right{
            div{
                p{
                    margin: 0;
                }
            }
            .medium{
                width: 490px;
                margin: 50px 0;
            }
            ul{
                margin-top: 40px;
                list-style: none;
                li{
                    @include flex-box(center, space-between);
                    border-top: 1px solid #E9E9E9;
                    padding: 25px 0;
                }
            }
        }
    }
}

/*============  Feature-5  ===========*/
#feature-5{
    .container{
        .right{
            .bottom{
                gap: 100px;
                div{
                    display: block;
                    width: 200px;
                    h1{
                        @include p(70px, 100px, #191919);
                        font-weight: 400;
                        letter-spacing: -1px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

/*============  Feature-6  ===========*/
#feature-6{
    .container{
        display: block;
        width: 100%;
        .top{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 100px;
        }
        .bottom{
            display: flex;
            gap: 180px;
            background: #2F2F2F;
            padding: 80px 200px 80px 100px;
            margin-left: 10%;
            .flex-column{
                @include flex-box(unset, unset, column, 20px);
                .g-30{
                    @include flex-box(center, unset, unset, 30px);
                }
            }
        }
    }
}

/*============  Feature-7  ===========*/
#feature-7{
    .top{
        @include flex-box(flex-start, unset, column, 30px);
        margin-left: auto;
        .big-dark{
            width: 754px;
        }
        .right{
            margin-left: auto;
        }
    }
}

/*============  Feature-8  ===========*/
#feature-8{
    .left{
        .big{
            margin-bottom: 200px;
        }
        h1{
            @include p(40px, 70px, #A1A1A1);
            font-weight: 400;
            margin-top: 121px;
        }
    }
    .right{
        p{
            width: 558px;
        }
        .big-white{
            margin-bottom: 150px;
        }
        .bottom{
            display: block;
            .medium-white{
                margin-top: 80px;
            }
            .smaller-grey{
                margin-top: 20px;
            }
        }
    }
}

/*============  Feature-9  ===========*/
#feature-9{
    .bottom{
        gap: 200px;
        div{
            height: 300px;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

/*============  Feature-10  ===========*/
#feature-10{
    .container{
        display: block;
    }
    .big-dark{
        margin: 20px 0 100px;
    }
    .bottom{
        @include flex-box(unset, space-between, unset, 30px);
        div{
            background-color: #ffffff;
            padding: 30px;
            width: 270px;
            @include flex-box(center, unset, column, 15px);
            img{
                padding: 30px 0;
            }
        }
    }
}

/*============  Feature-11  ===========*/
#feature-11{
    .container{
        display: block;
        .top{
            @include flex-box(unset, space-between, unset, unset);
            margin-bottom: 100px;
            .bigger-dark{
                margin-bottom: 20px;
            }
            .right{
                p{
                    width: 558px;
                }
            }
        }
        .bottom{
            @include flex-box(center, space-between);
            padding-right: 80px;
            div{
                height: 300px;
                @include flex-box(unset, space-between, column);
            }
        }
    }
}

/*============  Feature-12  ===========*/
#feature-12{
    .container{
        .left{
            margin-top: 60px;
            .smaller-grey{
                margin: 20px 0 70px;
            }
            div{
                @include flex-box(center, unset, unset, 30px);
                margin-bottom: 30px;
                img{
                    background-color: white;
                    padding: 10px;
                    border-radius: 50%;
                }
            }
        }
        .right{
            @include flex-box(flex-start, unset, unset, 30px);
            #img-12-2{
                margin-top: 200px;
            }
        }
    }
}

/*============  Feature-13  ===========*/
#feature-13{
    .container{
        display: block;
        .top{
            text-align: center;
            margin-bottom: 100px;
        }
        .bottom{
            @include flex-box(unset, space-around);
            div{
                width: 250px;
                padding: 20px;
                text-align: center;
                img{
                    background-color: white;
                    padding: 10px;
                    border-radius: 50%;
                }
                .small-dark{
                    margin: 30px 0 15px;
                }
            }
        }
    }
}
#feature-14{
    .left{
        margin: auto 0;
        .bigger-white{
            width: 392px;
            margin-top: 20px;
        }
    }
    .bg-grey{
        display: block;
        width: 265px;
        background: #2F2F2F;
        text-align: center;
        padding: 50px 30px 40px;
        margin-bottom: 30px;
        margin-left: 30px;
        .small-white{
            margin: 50px 0 15px;
        }
    }
}