/*===========================*/
/*        footer-9          */
.footer-area-9{
    @include inputMail;
    padding: 0 120px 25px;
    .c-flex{
        padding-top: 100px;
        border-top: 1px solid #E9E9E9;
    }
    .logo{
        margin-top: unset;
    }
    .inputMail{
        padding: 0 0 10px 10px;
        margin-bottom: 10px;
        input{
            padding: unset;
        }
        ::placeholder{
            color: var(--color-text-dark);
            opacity: 1;
        }
    }
    a{
        color: var(--color-text-dark) !important;
    }
    .w-264{
        width: 264px;
    }
    .s-12{
        @include font(12px, 20px);
        margin-bottom: 85px;
    }
    .nav-item{
        @include a-hover;
    }
}