*{
    box-sizing: border-box;
    margin: 0;
}
body{    
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.header{
    background: #F8F8F8;
    min-height: 100vh;
}
.container-fluid{
    width: 80%;
    margin: auto;
}
.middle-text{
    margin: 40px 0 55px 0;
}
@mixin inputMail {
    div{
        display: flex;
        align-items: center;
        gap: 15px;
        width: fit-content;
        border-bottom: 1px solid #E9E9E9;
        padding: 5px;

        input{
            border: none;
            padding: 5px;
            background: #F8F8F8;
        }
    }
}
@mixin numbering {
    .numbering{
        display: flex;
        align-items: center;
        gap: 10px;

        #line{
            width: 50px;
            height: 1.5px;
            background-color: #191919;
        }
    }
}

/*=============header-1============*/
.header-style-1{
    .header-content{
        .left{
            position: absolute;
            z-index: 9;
            top: 250px;

            h1{
                width: 784px;
            }
            p{
                width: 460px;
            }
            @include inputMail;
        }
        .right{
            margin-left: auto;

            #paging{
                justify-content: space-between;

                @include numbering;
            }
        }
    }
}

/*=============header-2============*/
.header-style-2{
    .header-content{
        .left{
            z-index: 9;
            margin: 145px 0;
            
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }

        .right{
            position: absolute;
            top: 0;
            left: 40%;
        }

        #big{
            width: 253px;
        }

        #img4-2{
            position: absolute;
            left: 100%;
            top: 660px;
        }
    }
}

/*=============header-3============*/
.header-style-3{
    #big{
        width: 449px;
    }
}


.header-content{
    h1{
        width: 558px;
        font-size: 70px;
        line-height: 100px;
        letter-spacing: -1px;
        font-weight: 400;
    }
    p{
        width: 490px;
        font-size: 20px;
        line-height: 28px;
    }
    button{
        width: 195px;
        height: 50px;

        /* Fill / Black */
        background: #191919;
        border-radius: 3px;
        color: white;
    }
    #paging{
        display: flex;
        align-items: center;
        margin-top: 10px;
        #prev{
            color: #A1A1A1;
            margin-right: 20px;
        }
        #next{
            color: #191919;
            margin-left: 20px;
        }
        #small{
            width: 27px;
            height: 1.5px;
            background: #191919;
        }
        #big{
            height: 1px;
            background: #E9E9E9;
        }
    }
    color: #191919;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 80px 0;
    font-size: 14px;
    line-height: 22px;
}

/*=============header-4============*/
.header-style-4{
    .header-content{
        .left{
            h1{
                font-size: 140px;
                line-height: 142px;
                letter-spacing: -4.5px;
                opacity: 0.9;
            }
            p{
                font-size: 24px;
                line-height: 35px;
            }
            @include inputMail;
            margin: 145px 0;
        }
        .right{
            display: flex;
            gap: 25px;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 25px;
            }
        }
    }
}
/*=============header-5============*/
.header-style-5{
    .header-content{
        display: block;

        h1{
            width: 588px;
            font-size: 60px;
            line-height: 76px;
            letter-spacing: -0.5px;
        }
        #img5{
            width: 100%;
            margin-top: 80px;
        }
        .round-btn{
            position: absolute;
            width: 125px;
            height: 125px;
            left: 64%;
            top: 75%;
            border-radius: 50%;
            background: white;
            color: #191919;
            font-size: 20px;
            border: none;
        }
        .third-section{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .left{
                @include numbering;
            }
            .right{
                p{
                    font-size: 17px;
                    line-height: 27px;
                    margin-bottom: 30px;
                }
                @include inputMail;
            }
        }
    }
}