<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="main-wrapper" class="main-wrapper">
		{% block content %}
		{% endblock %}
	</div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script src="assets/js/app.js"></script>

    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!-- Masonry JS -->
    <script src="assets/js/masonry.pkgd.min.js"></script>

    <script>
        window.onload=toBottom;
        var scroll50 = document.querySelectorAll('.scroll-50');
        var scroll100 = document.querySelector('.scroll-240');

        function toBottom()
        {
            scroll50[0].scrollTo(50, 0);
            scroll50[1].scrollTo(50, 0);
            scroll100.scrollTo(240, 0);
        }
    </script>

    <script>
        var top2 = 0;
        window.addEventListener("scroll", function(){ 
            var top = this.scrollY;
            top2 = parseInt(top, 10);
        });
        var round_btn = document.querySelector('.btn-5');
        document.addEventListener("mousemove", function(e) {
            var x = e.clientX;
            var y = e.clientY;
            var z = y + top2;
            round_btn.style.left = x + "px";
            round_btn.style.top = (z-50) + "px";
        });
    </script>
    
</body>
</html>
