{% extends 'app.html' %}

{# Page Title #}
{% block title %} Muir | Menu-2 {% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}

<!--=====================================-->
<!--=           Menu Area Start       	=-->
<!--=====================================-->
{% include 'template-parts/meu/menu-2.html' %}
	

{% endblock %}