.logo {
  top: 11px;
}

.mainmenu-nav {
  height: 104px;
}
.mainmenu-nav .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: black;
}
a:after {
  content: "";
  display: block;
  height: 2px;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
}

#onepagenav {
  display: flex;
  gap: 70px;
  list-style: none;
}

#download {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 14px 37px;
  gap: 10px;
  width: 166px;
  height: 50px;
  /* Fill / Black */
  border: 1px solid #191919;
  border-radius: 3px;
}

.mainmenu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header {
  background: #F8F8F8;
  min-height: 100vh;
}

.header-content {
  color: #191919;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 80px 0;
}
.header-content .right {
  margin: auto;
}
.header-content h1 {
  width: 558px;
  height: 300px;
  font-size: 70px;
  line-height: 100px;
  /* or 143% */
  letter-spacing: -1px;
}
.header-content p {
  width: 490px;
  height: 84px;
  font-size: 20px;
  line-height: 28px;
}
.header-content button {
  width: 195px;
  height: 50px;
  /* Fill / Black */
  background: #191919;
  border-radius: 3px;
  color: white;
}

#paging {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
}
#paging #prev {
  color: #A1A1A1;
  margin-right: 20px;
}
#paging #next {
  color: #191919;
  margin-left: 20px;
}
#paging #small {
  width: 27px;
  height: 1.5px;
  background: #191919;
}
#paging #big {
  width: 449px;
  height: 1px;
  /* Fill / Grey 3 */
  background: #E9E9E9;
}