.logo {
  margin-top: 11px;
}

.mainmenu-nav {
  height: 104px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: black;
}

#onepagenav {
  display: flex;
  gap: 70px;
  list-style: none;
}

#download {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 14px 37px;
  gap: 10px;
  width: 166px;
  height: 50px;
  /* Fill / Black */
  border: 1px solid #191919;
  border-radius: 3px;
}

.mainmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*====================*/
/* Menu-1*/
/*====================*/
#menu-1 #download-1 {
  width: 97px;
  height: 82px;
  background-color: #191919;
  color: white;
  margin-top: -27px;
}
#menu-1 .mainmenu {
  width: 50%;
}

/*====================*/
/* Menu-2*/
/*====================*/
#menu-2 .mainmenu {
  width: 50%;
}
#menu-2 .nav-item a:after {
  content: "";
  display: block;
  height: 2px;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#menu-2 .nav-item a:hover:after {
  width: 100%;
}

/*====================*/
/* Menu-3*/
/*====================*/
#menu-3 .mainmenu {
  gap: 110px;
}

.humburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.hum-1 {
  height: 1.5px;
  background-color: #191919;
  width: 15px;
}

.hum-2 {
  height: 1.5px;
  background-color: #191919;
  width: 25px;
}

.hum-3 {
  height: 1.5px;
  background-color: #191919;
  width: 20px;
}

/*====================*/
/* Menu-5*/
/*====================*/
#menu-5 .nav-item a:after {
  content: "";
  display: block;
  height: 2px;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#menu-5 .nav-item a:hover:after {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header {
  background: #F8F8F8;
  min-height: 100vh;
}

.container-fluid {
  width: 80%;
  margin: auto;
}

.middle-text {
  margin: 40px 0 55px 0;
}

/*=============header-1============*/
.header-style-1 .header-content .left {
  position: absolute;
  z-index: 9;
  top: 250px;
}
.header-style-1 .header-content .left h1 {
  width: 784px;
}
.header-style-1 .header-content .left p {
  width: 460px;
}
.header-style-1 .header-content .left div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #E9E9E9;
  padding: 5px;
}
.header-style-1 .header-content .left div input {
  border: none;
  padding: 5px;
  background: #F8F8F8;
}
.header-style-1 .header-content .right {
  margin-left: auto;
}
.header-style-1 .header-content .right #paging {
  justify-content: space-between;
}
.header-style-1 .header-content .right #paging .numbering {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-style-1 .header-content .right #paging .numbering #line {
  width: 50px;
  height: 1.5px;
  background-color: #191919;
}

/*=============header-2============*/
.header-style-2 .header-content .left {
  z-index: 9;
  margin: 145px 0;
}
.header-style-2 .header-content .left button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-style-2 .header-content .right {
  position: absolute;
  top: 0;
  left: 40%;
}
.header-style-2 .header-content #big {
  width: 253px;
}
.header-style-2 .header-content #img4-2 {
  position: absolute;
  left: 100%;
  top: 660px;
}

/*=============header-3============*/
.header-style-3 #big {
  width: 449px;
}

.header-content {
  color: #191919;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 80px 0;
}
.header-content h1 {
  width: 558px;
  font-size: 70px;
  line-height: 100px;
  letter-spacing: -1px;
  font-weight: 400;
}
.header-content p {
  width: 490px;
  font-size: 20px;
  line-height: 28px;
}
.header-content button {
  width: 195px;
  height: 50px;
  /* Fill / Black */
  background: #191919;
  border-radius: 3px;
  color: white;
}
.header-content #paging {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}
.header-content #paging #prev {
  color: #A1A1A1;
  margin-right: 20px;
}
.header-content #paging #next {
  color: #191919;
  margin-left: 20px;
}
.header-content #paging #small {
  width: 27px;
  height: 1.5px;
  background: #191919;
}
.header-content #paging #big {
  height: 1px;
  background: #E9E9E9;
}