.menu-area{
    background-color: #F8F8F8;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 22;
    .container{
        padding: 0;
    }
}
/*======== About 1 ========*/
#about-1{
    .top{
        margin-bottom: 70px;
    }
    .bottom{
        position: relative;
        .round-btn{
            @include round-btn;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/*======== About 2 ========*/
#about-2{
    .right{
        h3{
            margin-bottom: 70px;
        }
    }
}

/*======== About 3 ========*/
#about-3{
    .container{
        padding-right: 0;
    }
    section{
        position: relative;
        background: #2F2F2F;
        padding: 150px 100px;
        margin-top: 60px;
        .round-btn{
            @include round-btn;
            position: unset;
            background: #2F2F2F;
            border: 1px solid white;
        }
        p{
            width: 362px;
        }
        .m-30-0-60{
            margin: 30px 0 60px;
        }
        .absolute{
            position: absolute;
            top: -60px;
            right: 120px;
        }
    }
}

/*======== About 4 ========*/
#about-4{
    .mt-105{
        margin-top: 105px;
    }
    .small{
        margin: 30px 0 115px;
    }
    .mt-30{
        margin-top: 30px;
        a{
            @include flex-box(center, unset, unset, 35px);
        }
    }
}

/*======== About 5 ========*/
#about-5{
    section{
        position: relative;
        h1{
            width: 852px;
            @include font(48px, 75px);
            margin: 200px 0;
            position: inherit;
            z-index: 11;
        }
        .absolute{
            position: absolute;
            top: 120px;
            right: 0;
            @include flex-box(flex-start, unset, column, 30px);
            a{
                background: #F8F8F8;
                border: none;
                border-bottom: 2px solid black;
                padding-bottom: 5px;
                span{
                    margin-right: 20px;
                }
            }
        }
    }
}

/*======== About 6 ========*/
#about-6{
    .top{
        gap: 100px;
    }
    .dark{
        width: 392px;
        margin: 20px 0 40px;
    }
    .orange-btn{
        @include main-btn(195px, 50px, #FF5C00);
    }
    .bottom{
        gap: 100px;
        margin-top: 100px;
    }
    .m-auto{
        margin: auto;
    }
}

/*======== About 7 ========*/
#about-7{
    .container{
        gap: 100px;
    }
    .mt-80{
        margin-top: 80px;
    }
    .m-30-0-70{
        margin: 30px 0 70px;
    }
    .flex{
        display: flex;
        gap: 100px;
        .w-200{
            width: 200px;
        }
    }
    .line{
        width: 35px;
        height: 2px;
        background: #FF5C00;
        margin-bottom: 20px;
    }
    .right{
        margin-top: 200px;
    }
}

/*======== About 8 ========*/
#about-8{
    .container{
        padding-top: 285px;
    }
    .left{
        width: 365px;
        margin: auto 0;
        div{
            margin-top: 40px;
        }
        .bigger{
            margin-bottom: 60px;
        }
        .smaller{
            margin: 10px 0;
        }
    }
}

/*======== About 9 ========*/
#about-9{
    .container{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .m-25-0-40{
        width: 460px;
        margin: 25px 0 40px;
    }
    a{
        @include flex-box(center, unset, unset, 20px);
    }
    .left{
        margin: auto 0;
    }
}