*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{    
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin font($size, $l-h){
    font-size: $size;
    line-height: $l-h;
}
@mixin flex-box ($a-i:unset, $j-c:unset, $f-d:unset, $gap:unset) {
    display: flex;
    align-items: $a-i;
    justify-content: $j-c;
    flex-direction: $f-d;
    gap: $gap;
}

.bg-dark{
    background: #191919;
}
.bg-light{
    background: #F8F8F8;
}
.dark{
    color: #191919;
}
.grey{
    color: #A1A1A1;
}
.white{
    color: #ffffff;
}
.bigger{
    @include font(34px, 50px);
}
.big{
    @include font(24px, 35px);
}
.medium{
    @include font(20px, 28px);
}
.small{
    @include font(17px, 27px);
}
.smaller{
    @include font(14px, 22px);
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

.container{
    padding: 120px;
}
.right-558{
    width: 558px;
}
.w-100{
    width: 100%;
}