.feature-area{
    .container{
        @include flex-box(unset, space-between, unset, 100px);

        .right{
            width: 558px;
            .mt-30{
                @include flex-box(center, unset, unset, 40px);
                margin-top: 30px;
            }
        }
        .left{
            width: 45%;
            ul{
                margin-top: 150px;
                li{
                    @include flex-box(center, unset, unset, 40px);
                    padding: 20px 0;
                    border-bottom: 1px solid #E9E9E9;
                    .ml-auto{
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

/*============  Feature-1  ===========*/
#feature-1{
    li{
        a, img{
            cursor: pointer;
        }
    }
    li:not([class="active"]){
        img{
            display: none;
        }
        a{
            color: #A1A1A1;
        }
        color: #A1A1A1;
    }
    .right{
        .big{
            margin-bottom: 100px;
        }
    }
}

/*============  Feature-2  ===========*/
#feature-2{
    .container{
        display: block;
        .top{
            @include flex-box(unset, space-between);
            .right{
                margin-bottom: 150px;
            }
        }
        .bottom{
            @include flex-box(unset, unset, unset, 80px);
            .big{
                margin: 35px 0 25px;
            }
        }
    }
}

/*============  Feature-3  ===========*/
#feature-3{
    .container{
        display: block;
        h1{
            @include font(60px, 76px);
            margin: 20px 0 80px;
            font-weight: 400;
            letter-spacing: -0.5px;      
            width: 650px;      
        }
        .list{
            @include flex-box(unset, unset, flex-start);
            border-top: 1px solid #E9E9E9;
            h1{
                margin: 0;
                width: 80px;
                padding: 17px 0;
            }
            div{
                padding: 30px 30px;
                border-left: 1px solid #E9E9E9;
                cursor: pointer;
                .small{
                    width: 650px;
                    margin-top: 40px;
                }
                p:not([id= 'p1']){
                    display: none;
                }
            }
            img{
                margin: auto;
                margin-right: 0;
                cursor: pointer;
            }
        }
        .list:first-of-type{
            border-top: none;
            img{
                margin: 38px 0 auto auto;
            }
        }
    }
}

/*============  Feature-4  ===========*/
#feature-4{
    .container{
        .right{
            .mb-100{
                margin-bottom: 100px;
            }
            .medium{
                width: 490px;
            }
            #fi-4{
                margin: 60px 0 40px;
            }
            h3, h4, img:not([id='fi-4']){
                cursor: pointer;
            }
            .c-flex{
                align-items: center;
                padding: 33px 0;
            }
            .c-flex:not(:first-of-type){
                border-top: 1px solid #E9E9E9;
            }
            .hide{
                display: none;
            }
        }
    }
}

/*============  Feature-5  ===========*/
#feature-5{
    .container{
        .right{
            .bottom{
                margin-top: 115px;
                display: flex;
                gap: 100px;
                div{
                    width: 200px;
                    h1{
                        @include font(70px, 100px);
                        letter-spacing: -1px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

/*============  Feature-6  ===========*/
#feature-6{
    .container{
        display: block;
        padding: 120px 0;
        .top{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 100px;
        }
        .bottom{
            display: flex;
            gap: 180px;
            background: #2F2F2F;
            padding: 80px 200px 80px 100px;
            margin-left: 10%;
            .flex-column{
                @include flex-box(unset, unset, column, 20px);
                .g-30{
                    @include flex-box(center, unset, unset, 30px);
                }
            }
        }
    }
}

/*============  Feature-7  ===========*/
#feature-7{
    .top{
        .mySwiper{
            width: 754px;
            margin-bottom: 40px;
        }
        .big{
            margin: 35px 0;
        }
        .orange{
            color: #FF5C00;
        }
        .mr-50{
            margin-right: 50px;
        }
    }
    .ml-auto{
        margin-left: auto;
        width: fit-content;
    }
}

/*============  Feature-8  ===========*/
#feature-8{
    color: #A1A1A1;
    .left{
        .big{
            margin-bottom: 200px;
        }
        h1{
            @include font(40px, 70px);
            margin-top: 121px;
        }
    }
    .right{
        width: 558px;
        .big{
            margin-bottom: 150px;
        }
        .bottom{
            display: block;
            .medium{
                margin-top: 80px;
            }
            .smaller{
                margin-top: 20px;
            }
        }
    }
}

/*============  Feature-9  ===========*/
#feature-9{
    .left{
        width: unset;
    }
    .bottom{
        display: flex;
        gap: 190px;
        margin-top: 150px;
        div{
            height: 300px;
            @include flex-box(center, space-between, column);
        }
    }
}

/*============  Feature-10  ===========*/
#feature-10{
    .container{
        display: block;
    }
    .m-20-0-100{
        margin: 20px 0 100px;
    }
    .bottom{
        @include flex-box(unset, space-between, unset, 30px);
        div{
            background-color: #ffffff;
            padding: 30px;
            width: 270px;
            @include flex-box(center, unset, column, 15px);
            img{
                padding: 30px 0;
            }
        }
    }
}

/*============  Feature-11  ===========*/
#feature-11{
    .container{
        display: block;
        .top{
            margin-bottom: 100px;
            .bigger{
                margin-bottom: 20px;
            }
        }
        .bottom{
            @include flex-box(center, space-between);
            padding-right: 180px;
            div{
                height: 300px;
                @include flex-box(unset, space-between, column);
            }
        }
    }
}

/*============  Feature-12  ===========*/
#feature-12{
    .container{
        .left{
            margin-top: 60px;
            .smaller{
                margin: 20px 0 70px;
            }
            div{
                @include flex-box(center, unset, unset, 30px);
                margin-bottom: 30px;
                img{
                    background-color: white;
                    padding: 10px;
                    border-radius: 50%;
                }
            }
        }
        .right{
            @include flex-box(flex-start, unset, unset, 30px);
            #img-12-2{
                margin-top: 200px;
            }
        }
    }
}

/*============  Feature-13  ===========*/
#feature-13{
    .container{
        display: block;
        text-align: center;
        .top{
            margin-bottom: 100px;
        }
        .bottom{
            @include flex-box(unset, space-around);
            div{
                width: 250px;
                padding: 20px;
                img{
                    background-color: white;
                    padding: 10px;
                    border-radius: 50%;
                }
                .small{
                    margin: 30px 0 15px;
                }
            }
        }
    }
}
#feature-14{
    .left{
        margin: auto 0;
        .bigger{
            width: 392px;
            margin-top: 20px;
        }
    }
    .right{
        display: flex;
        width: unset;
    }
    .bg-grey{
        display: block;
        width: 265px;
        background: #2F2F2F;
        text-align: center;
        padding: 50px 30px 40px;
        margin-bottom: 30px;
        margin-left: 30px;
        .small{
            margin: 50px 0 15px;
        }
    }
}