.portfolio-area{
    .right-750{
        width: 750px;
    }
    .active{
        font-weight: 700;
    }
}

/*========  portfolio-1  ========*/
#portfolio-1{
    .top{
        margin-bottom: 100px;
    }
    li{
        padding: 0 0 20px 40px;
        list-style: none;
    }
    .right-side{
        margin-top: 150px;
    }
    .medium{
        margin: 20px 0 5px;
    }
    .smaller:not(.mb-0){
        margin-bottom: 100px;
    }
}

/*========  portfolio-2  ========*/
#portfolio-2{
    ul{
        list-style: none;
        display: flex;
        gap: 55px;
        margin: 100px 0 50px;
    }
    .active{
        border-bottom: 2px solid;
    }
    .medium{
        margin: 20px 0 5px;
    }
    .bottom{
        margin-top: 200px;
    }
    .right-side{
        margin-top: 350px;
    }
    .mt-550{
        margin-top: 550px;
    }
}

/*========  portfolio-3  ========*/
#portfolio-3{
    .w-558{
        margin: 20px 0 85px;
    }
    .bottom{
        gap: 30px;
        div{
            width: min-content;
            .medium{
                margin: 15px 0 10px;
            }
        }
    }
}

/*========  portfolio-4  ========*/
#portfolio-4{
    ul{
        list-style: none;
        display: flex;
        gap: 55px;
        margin: 0 0 50px auto;
    }
    .active{
        border-bottom: 2px solid;
    }
    .m-auto-0{
        margin: auto 0;
    }
    section:not(:last-of-type){
        margin-bottom: 150px;
    }
}

/*========  portfolio-5  ========*/
#portfolio-5{
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 55px;
        margin: 100px 0 20px;
    }
    .active{
        font-weight: unset;
        position: relative;
        img{
            position: absolute;
            top: -19px;
            left: -18px;
        }
    }
    .m-auto-0{
        margin: auto 0;
    }
    section{
        padding: 60px 0;
    }
    section:not(:last-of-type){
        border-bottom: 1px solid #E9E9E9;
    }
}

/*========  portfolio-6  ========*/
#portfolio-6{
    ul{
        list-style: none;
        display: flex;
        gap: 55px;
        margin: 100px 0 60px auto;
    }
    .active{
        border-bottom: 2px solid;
    }
    .bottom{
        div:not([class="absolute"]){
            padding: 55px 30px 0;
            width: 260px;
            height: 390px;
        }
        span{
            display: block;
            width: 30px;
            height: 2px;
            background: #E9E9E9;
            margin-bottom: 20px;
        }
        a{
            @include flex-box(center, unset, unset, 20px);
            margin-top: 180px;
        }
        #three{
            position: relative;
            background-image: url('../media/portfolio/PI-6.png');
        }
        #three:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position:absolute;
            top:0;
            left:0;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .absolute{
            position: absolute;
        }
        .medium{
            width: 180px;
        }
    }
}

/*========  portfolio-7  ========*/
#portfolio-7{
    .w-558{
        margin: 25px 0 110px;
    }
    h2{
        padding: 40px 0;
        text-align: center;
    }
    a{
        background: url('../media/portfolio/PI-7.png');
        background-size: cover;
        background-position: center;
        @include flex-box(center, center, unset, 20px);
    }
}

/*========  portfolio-8  ========*/
#portfolio-8{
    ul{
        list-style: none;
        margin: 80px 0 50px;
        li{
            padding: 10px 0;
            a{
                display: flex;
                align-items: center;
                .line{
                    display: block;
                    width: 25px;
                    height: 1px;
                    background: #2F2F2F;
                    margin-right: 15px;
                }
            }
        }
    }
    .bottom{
        gap: 30px;
    }
    .gradient{
        position: relative;
        margin-bottom: 30px;
        
        &:before{
            content: "";
            display: block;
            position:absolute;
            height: 0%;
            width: 100%;
            bottom: 0;
            transition: height 0.5s ease-out;
            background: linear-gradient(180deg, rgba(213, 213, 213, 0.601672) 0%, #FFFFFF 100%);
        }
        &:hover:before {
            height: 100%;
        }
    }
    .detail{
        position: absolute;
        left: 45px;
        bottom: 35px;
    }
}

/*========  portfolio-9  ========*/
#portfolio-9{
    .container{
        padding: 120px 0;
    }
    .left{
        padding-left: 120px;
    }
    .right{
        width: 870px;
    }
    .w-100{
        overflow: auto;
    }
    .mySwiperAll{
        width: 1150px;
        margin: 100px 0 40px;
    }
    .swiper-slide{
        width: 362px;
    }
    .round-btn{
        @include round-btn;
        background: #191919;
        color: white;
        z-index: 11;
        top: 34%;
        left: 55%;
    }
}

/*========  portfolio-10  ========*/
#portfolio-10{
    ul{
        width: 558px;
        list-style: none;
        display: flex;
        gap: 55px;
        margin: 80px 0 70px auto;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 10px;
    }
    .active{
        position: relative;
        img{
            position: absolute;
            top: -25px;
            left: -48px;
        }
    }
    .w-min{
        background: white;
        width: min-content;
        position: relative;
    }
    .text{
        padding: 25px;
        h6{
            @include font(12px, 20px);
        }
        h4{
            margin: 15px 0 65px;
        }
        a{
            @include flex-box(center, unset, unset, 20px);
            position: absolute;
            bottom: 25px;
        }
    }
}

/*========  portfolio-11  ========*/
#portfolio-11{
    .container{
        padding: 200px 0;
    }
    .top{
        padding: 0 150px 150px;
        .big{
            margin-bottom: 20px;
        }
    }
    .bottom{
        width: 100%;
        overflow: auto;
        .c-flex{
            position: relative;
            width: fit-content;
            gap: 95px;
            padding-bottom: 100px;
        }
    }
    .w-min{
        position: relative;
        width: 585px;
        height: fit-content;
        display: flex;
        align-items: center;
        .text{
            position: absolute;
        }
        img{
            margin-left: auto;
        }
    }
    .mt-170{
        margin-top: 170px;
    }
    .mt-260{
        margin-top: 260px;
    }
    .round-btn{
        @include round-btn;
        z-index: 11;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    h1{
        @include font(48px, 70px);
    }
}