.table-area{
    padding-top: 120px;
    padding-bottom: 120px;
}
/*-----------------------------
            table-2
-----------------------------*/
.table-area-2{
    h3{
        margin-bottom: 120px;
    }
    th{
        font-weight: 400;
    }
    .table > :not(caption) > * > *{
        padding: 20px;
    }
    tr:last-of-type{
        border-bottom-style: hidden; 
    }
    .s-12{
        @include font(12px, 20px);
    }
    .fa-question-circle{
        color: var(--color-grey3);
    }
}